{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<div class="container mt-4 login">
    <h3>Sign in to your account</h3>
    <form method="POST">
        <div class="mb-2">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-2">Don't have an account?
        <a href="{{ url_for('register') }}">Register as Trekker</a> |
        <a href="{{ url_for('staff_register') }}">Register as Staff</a>
    </p>
</div>
{% endblock %}